body {
      margin: 0;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #000;
      font-family: Arial, sans-serif;
      color: white;
      overflow: hidden;
    }

    .text {
      font-size: 50px;
      font-weight: bold;
      opacity: 0;
      animation: showText 2s forwards;
    }

    #topText, #bottomText {
      font-size: 20px;
      color: red;
      font-weight: bold;
    }

    @keyframes showText {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
